.wp-block-soccr-team-match {
    max-width: 700px;

    &.alignfull,
    &.alignwide {
        max-width: none;
        width: 100%;
    }
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-header {
    margin-bottom: 10px;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-datetime {
    font-weight: bold;
    border-bottom: 2px solid currentColor;
    padding-bottom: 5px;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-row {
    display: flex;
    align-items: stretch;
    padding: 5px 0;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-home,
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-away {
    flex: 1;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 1.4em;
    font-weight: bold;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-home,
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-away {
    text-align: center;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-icon {
    display: block;
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin: 0 auto 6px;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-name,
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-shortname {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wp-block-soccr-team-match .wp-block-soccr-team-match-team-shortname {
    display: none;
}
.wp-block-soccr-attribution {
    font-size: 0.65em;
    opacity: 0.4;
    text-align: right;
    margin-top: 6px;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 400px) {
    .wp-block-soccr-team-match .wp-block-soccr-team-match-team-name {
        display: none;
    }
    .wp-block-soccr-team-match .wp-block-soccr-team-match-team-shortname {
        display: block;
    }
}
