.wp-block-soccr-group-matches {
    max-width: 700px;
}

.wp-block-soccr-group-matches table {
    display: table;
}

.wp-block-soccr-group-matches .wp-block-soccr-group-matches-result {
    text-align: center;
    font-weight: bold;
}

.wp-block-soccr-group-matches .wp-block-soccr-group-matches-pagination-left {
    text-align: left;
}

.wp-block-soccr-group-matches .wp-block-soccr-group-matches-pagination-right {
    text-align: right;
}

.wp-block-soccr-group-matches .wp-block-soccr-group-matches-team-home {
    text-align: right;
}
.wp-block-soccr-group-matches .wp-block-soccr-group-matches-team-away {
    text-align: left;
}

.wp-block-soccr-group-matches .wp-block-soccr-group-matches-team-name {
    display: block;
}

.wp-block-soccr-group-matches .wp-block-soccr-group-matches-team-shortname {
    display: none;
}

@media screen and (max-width: 580px) {
    .wp-block-soccr-group-matches .wp-block-soccr-group-matches-team-name {
        display: none;
    }

    .wp-block-soccr-group-matches .wp-block-soccr-group-matches-team-shortname {
        display: block;
    }
}
